.center{
   text-align: center;
}
.closebtn {
    // color: aliceblue;
    margin: -50px 0 0 0;
    font-size: 20px;
    float: right;
  }
  .submit{
   float: right;
  }
  .fielderror{
   margin: -5% 0% 0% 2%;
   // position: absolute;
   font-weight: 400;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   font-size: 11px;
 }