.center{
    text-align: center;
}
.btn{
    margin: 1% 1% 0 0%;
}
.form{
    margin: 0 0 0 5%;
}
.submit{
    position: relative;
    margin: 1% 0 0 0;   
}
.fielderror{
   margin: 0 0 0 0;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 11px;
  }