<h2 [ngClass]="'center'"> Home-Page</h2>
<form [formGroup]="homeform" [ngClass]="['form']" (ngSubmit)="submit()">
    <div formArrayName='paragraphdata'>
        <div *ngFor="let values of paragraphdata().controls; let i=index">
            <div [formGroupName]="i">
                <h2 >{{values.value.question}} ?</h2>
                <mat-form-field appearance="outline">
                    <mat-label for="Answer">Answer</mat-label>
                    <input matInput type="text" formControlName="answer"(keyup)="changere(i)" />
                </mat-form-field>
            </div>
        </div>
    </div>
    <div formArrayName='checkboxdata'>
        <div *ngFor="let values of checkboxdata().controls; let i=index">
            <div [formGroupName]="i">
                <p> Q{{i+1}}:{{values.value.question}}?</p>

                <p *ngFor="let check of values.value.checkoption; let j=index">
                    <mat-checkbox  (change)="addclick($event,i,j)">
                        {{check.checkvalue}}
                    </mat-checkbox>
                    <br>
                    <mat-form-field appearance="outline" *ngIf="check.otherstatus">
                        <mat-label for="otheranswer">Answer</mat-label>
                        <input matInput type="text" formControlName="otheranswer" (keyup)="otherchange($event,i)" />
                    </mat-form-field>
                    <!-- <mat-error class="alert-danger" *ngIf="check.otherstatus">
                        Required
                      </mat-error> -->
                </p>
                <mat-error class="alert-danger" *ngIf="values?.value?.reqcheck">
                    Required
                  </mat-error>
            </div>
        </div>
    </div>
    <button type="button" mat-raised-button color="primary" [ngClass]="['btn']" (click)="addQuestion()">Add Question
        <mat-icon>plus_one</mat-icon>
    </button>
    <div>
        <button type="submit" mat-raised-button color="primary"  [ngClass]="['submit']">Review my answer</button>
    </div>
</form>